Cycler
Pillow==8.1.1
awslambdaric
cPython
certifi
chardet
idna
kiwisolver
lxml
matplotlib
mplfinance
numpy
pandas-datareader
pandas
pyparsing
python-dateutil
python-dotenv
pytz
six
slack-sdk
urllib3
boto3
